#main{
    display: flex;
  margin: 100px;
}
#division1{
    width: 50%;
    background-color: #6989cf;
    color: white;
    text-align: center;
   align-content: center;
}
#division2{
    width: 50%;
    background-color: #ffffff;
    padding: ;
}
legend{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
input[type=text],input[type=email],
input[type=tel],input[type=textarea],select{
    width: 100%;

}
button{
    background-color: dodgerblue;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    display: block;
  margin: 0 auto;
}
body{
    background-color: blueviolet;
}